.ustPane{
	-fx-background-color: linear-gradient(to right, #C19A6B, #E6C288); /* Hafif degrade geçişli */
-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 2);
	-fx-background-radius: 20;
}
.menu-button {
    -fx-padding: 0.2em 0.2em; 
    -fx-background-color:linear-gradient(to right, #C19A6B, #E6C288)
}
.arkaPlan{
   -fx-background-color: #f2f2f2;
-fx-background-radius: 20;
-fx-border-color: rgba(255, 255, 255, 0.60);
-fx-border-radius: 20;
-fx-border-width: 1.5;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 15, 0, 0, 5);}

.name-header {
    /* --- ŞEKİL VE RENK --- */
    -fx-background-color: #3E2723; /* Arkaplan: Koyu Kahve (Logodaki yazı tonu) */
    -fx-background-radius: 50;     /* Köşeleri tam yuvarlak (Hap şekli) yapar */
    
    /* --- YAZI AYARLARI --- */
    -fx-text-fill: #D4AF37;        /* Yazı Rengi: Altın Sarısı (Gold) */
    -fx-font-family: "Segoe UI";
    -fx-font-size: 15px;           /* Biraz daha kibar bir boyut */
    -fx-font-weight: bold;

    /* --- KENARLIKLARI İPTAL ETME --- */
    -fx-border-color: transparent; /* Eski çizgiyi yok ediyoruz */
    -fx-border-width: 0;

    /* --- İÇ BOŞLUK (PADDING) --- */
    /* Yazının etrafına boşluk vererek kutuyu genişletiyoruz */
    /* Sırasıyla: Üst - Sağ - Alt - Sol */
    -fx-padding: 5 25 5 25; 

    /* --- GÖLGE EFEKTİ (Bonus) --- */
    /* Kutunun havada duruyormuş gibi görünmesi için hafif gölge */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0, 0, 3);
}